.animate__animated {
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.611);
  font-size: 50px;
  font-weight: bolder;
  text-align: center; }

.imagenMenu {
  height: 100vh;
  background-image: url(../img/fondoNosotros.jpg); }

.nav-item {
  font-family: 'Cinzel', serif; }

.navegadorTotal {
  border-bottom: 1px solid rgba(0, 0, 0, 0.611); }

.navegador {
  padding-bottom: 10px;
  display: flex;
  justify-content: center; }

.menu {
  display: flex;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto; }

.menu ul li {
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px; }

a.nav-link {
  color: rgba(0, 0, 0, 0.611); }

.logoMenu {
  padding-top: 13%;
  text-align: center; }

.logoMenu img {
  vertical-align: middle;
  width: 40%;
  height: 40%; }

.logoMenu img:hover {
  transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2); }

.pedirPresupuesto {
  text-align: center;
  padding-top: 50px; }

.btn-danger {
  color: #fff;
  background-color: #000000;
  border-color: #000000; }

.btn-group-lg > .btn, .btn-lg {
  padding: 0.8rem 2rem; }

.btn-danger:hover {
  color: black;
  background-color: #8C8C8C;
  border-color: #8C8C8C; }

.logo img {
  width: 155px;
  height: 134px; }

.navegadorTotal {
  background-color: white; }

@media only screen and (max-width: 576px) {
  .nav li a {
    padding: 8px 4px; }
  .tituloDePagina {
    padding-top: 10px; }
  .logoMenu {
    padding-top: 44%; }
  .btn {
    font-size: 12px; }
  .btn-group-lg > .btn, .btn-lg {
    padding: 0.5rem 1rem; }
  .nav-item {
    font-weight: bold;
    font-size: 12px; }
  .navegador {
    padding-bottom: 10px;
    flex-direction: column; }
  .nav {
    width: 100%;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    justify-content: space-around; }
  .nav-item {
    display: flex;
    flex-direction: row; }
  .menu {
    line-height: 0.5; }
  .menu ul li {
    padding-left: 0px;
    padding-right: 0px; }
  .imagenMenu {
    width: 100vw;
    height: 84vh; }
  .nosotros h3 {
    margin-bottom: 0rem; }
  .logo {
    text-align: center; }
  .logo img {
    width: 30%;
    height: 30%; }
  .logoMenu img {
    width: 50%; }
  .animate__animated {
    font-size: 35px; } }

@media only screen and (max-width: 768px) {
  .logoMenu {
    padding-top: 28%; } }

.card-title {
  font-weight: bold; }

.card img {
  width: 100%; }

.card-body, p .card-body {
  text-align: center; }

.card-group {
  margin: 50px 30px 50px 50px; }

.card img:hover {
  transform: scale(1.2);
  transition: all 500ms ease-in-out; }

h2 {
  margin-top: 50px;
  font-weight: bold;
  text-align: center;
  background-image: linear-gradient(to right, white, #7c7c7c, black);
  background-size: 110vw;
  animation: sliding 30s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

@keyframes sliding {
  to {
    background-position: -2000vw; } }

@media only screen and (max-width: 600px) {
  h5.card-title {
    font-size: 15px; }
  p.card-text {
    font-size: 0.5em;
    text-align: center; }
  .card-group {
    margin: 25px 37px 40px 38px; }
  h2 {
    margin-top: 30px; }
  .card-body {
    padding: 0.5rem 0.5rem; } }

.footer-basic {
  width: 100%;
  bottom: 0;
  position: fixed;
  padding: 0;
  background-color: #ffffff;
  color: #4b4c4d; }

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 10px;
  line-height: 1;
  margin-bottom: 0; }

.footer-basic li {
  padding: 0 0px; }

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8; }

.footer-basic ul a:hover {
  opacity: 1; }

.footer-basic .social {
  text-align: center;
  padding-bottom: 0px; }

.site__main p, i {
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  letter-spacing: 15px;
  text-align: center;
  clear: both;
  font-size: 1.4em;
  line-height: 2.3; }

i {
  font-size: 1em; }

.site__main {
  position: relative; }

.footer-basic .social > a {
  font-size: 24px;
  width: 30px;
  height: 30px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75; }

.footer-basic .social > a:hover {
  opacity: 0.9; }

.footer-basic .copyright {
  margin-top: 0px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0; }

@media only screen and (max-width: 576px) {
  .list-inline-item a {
    font-size: 10px; } }

@media only screen and (min-width: 1200px) {
  .footer-basic {
    position: fixed; } }

.nosotros {
  padding: 3%;
  width: 100vw;
  display: block;
  border: 0px solid #594A3C; }

.nosotros h3 {
  text-align: center;
  font-size: 40px; }

.nosotrosTexto {
  display: flex;
  margin: 0%; }

.nosotrosTexto p {
  margin: 2%;
  font-size: 1.3em;
  text-align: center; }

@media only screen and (max-width: 600px) {
  .nosotros h3 {
    font-size: 30px; }
  .nosotrosTexto p {
    font-size: 11px; }
  .nosotrosTexto {
    display: flex;
    flex-direction: column;
    align-items: center; } }

.textoArquitecto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 13%); }

.divisor {
  height: 100vh;
  background-image: url(../img/fondoNosotros.jpg); }

@media only screen and (max-width: 600px) {
  .divisor {
    width: 100vw;
    height: 70vh; }
  .site__main {
    padding-top: 0px;
    padding-left: 0px; }
  .site__main p, i {
    font-size: 15px;
    width: 100vw;
    line-height: 2;
    letter-spacing: 8px; }
  .textoArquitecto {
    transform: translate(-50%, 25%); } }

@media only screen and (min-width: 1200px) {
  .site__main p, i {
    font-size: 1.8em; } }

* {
  box-sizing: border-box; }

form {
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: rgba(61, 61, 61, 0.227); }

form label {
  width: 83px;
  font-weight: bold;
  display: inline-block;
  font-size: 23px; }

form input[type="text"],
form input[type="email"] {
  width: 180px;
  padding: 7px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block; }

form input[type="submit"] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #000; }

form input[type="submit"]:hover {
  cursor: pointer; }

textarea {
  width: 100%;
  height: 110px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  /*resize: vertical | horizontal | none | both*/
  resize: none;
  display: block; }

.tituloContacto {
  text-align: center;
  color: #2e2e2e;
  line-height: 2.2; }

form {
  margin-bottom: 100px; }

.fondoContacto {
  height: 100vh;
  background-image: url(../img/fondoNosotros.jpg); }

@media only screen and (max-width: 600px) {
  .tituloContacto {
    font-size: 15px;
    text-align: center;
    margin-top: 10px; }
  .list-inline-item a {
    font-family: 'Cinzel', serif;
    font-size: 15px; }
  form {
    width: 250px;
    padding: 10px;
    border-radius: 10px; }
  form label {
    width: 90px;
    font-size: 20px; }
  form input[type="text"],
  form input[type="email"] {
    width: 228px;
    padding: 0px 5px;
    margin: 1px 0; } }

.fondoProyecto {
  background-image: url(../img/fondoProyecto.jpg); }

.tituloProyecto {
  text-align: center;
  color: #2e2e2e;
  line-height: 2.2; }

@media only screen and (max-width: 600px) {
  .tituloProyecto {
    font-size: 15px;
    text-align: center;
    margin-top: 10px; } }

.fotosCatalogo img {
  width: 100%;
  border-radius: 18px; }

.fotosCatalogo img:hover {
  opacity: 0.6; }

.fotosCatalogo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding-top: 0px;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  object-position: center; }

.fotoCatalogo6 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3; }

.tituloCatalogo {
  text-align: center;
  color: #2e2e2e;
  line-height: 2.2; }

.tituloCatalogo h1 {
  margin-bottom: 0em; }

.fondoCatalogo {
  height: 100vh;
  background-image: url(../img/fondoNosotros.jpg); }

@media only screen and (max-width: 600px) {
  .tituloCatalogo {
    font-size: 15px;
    text-align: center;
    margin-top: 10px; }
  .fotosCatalogo {
    padding-left: 10px;
    padding-right: 10px;
    grid-gap: 5px; } }

.desarrollo .card {
  position: relative;
  flex-direction: column; }

.desarrollo {
  display: flex;
  background-color: white;
  justify-content: center;
  padding: 50px 50px 50px 50px;
  margin-top: 100px;
  flex-direction: row;
  flex-wrap: nowrap; }

.desarrolloTotal {
  height: 100vh;
  background-image: url(../img/fondoNosotros.jpg); }

.imagenMenu, .divisor, .fondoContacto, .fondoProyecto, .fondoCatalogo, .desarrolloTotal {
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center; }

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Cinzel', serif; }
