
.site__main p, i { 
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  letter-spacing: 15px;
  text-align: center;
  clear: both;
  font-size: 2.4em;
  line-height: 2.6;

}

i {
  font-size: 1em;
}

.site__main{
  position: relative;
}

.textoArquitecto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 13%);
}

.divisor{
  @extend %fondos;
  height: 100vh;
  background-image: url(../img/fondoNosotros.jpg);
}

@media only screen and (max-width: 600px){
  .divisor{
    width: 100vw;
    height: 70vh;
  }

  .site__main{
    padding-top : 0px;
    padding-left: 0px;
  }

  .site__main p, i{
    font-size: 15px;
    width: 100vw;
    line-height: 2;
    letter-spacing: 8px;
  }

  .textoArquitecto{
    transform: translate(-50%, 25%);
  }
}
