.nosotros{
    padding: 5%;
    width: 100vw;
    display: block;
    border: 2px solid #594A3C;
}

.nosotros img{
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.nosotros h3{
    text-align: center;
    font-size: 40px;
}

.nosotrosTexto{
    display: flex;
    margin: 0%;
}

.nosotrosTexto p{
    margin: 2%;
    font-size: 0.8em;
    text-align: center;
}

@media only screen and (max-width: 600px){
    .nosotros h3{
        font-size: 30px;
    } 

    .nosotrosTexto p{
        font-size: 10px;
    }

    .nosotrosTexto{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nosotrosTexto img {
        margin-bottom: 10px;
        width: 170px;
        height: 160px;
    }

}